<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- 타임리프가 렌더링 될때 절대경로로 프로젝트에 있는 css 파일을 가져옴. -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet"> <!--'..'= 상위 경로(static)로 이동.  -->
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.item}">상품 상세</h2>
    </div>

    <!-- POST방식으로 addForm.html에서 상품을 등록한 후 정상적으로 등록되면 status가 true가 되면서 텍스트를 출력 -->
    <h4 th:if="${param.status}" th:text="#{item.status.success}"></h4>

    <div>
        <label for="itemId" th:text="#{label.item.id}">상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control"
               value="1" th:value="${item.id}" readonly>
        <!-- 모델에 있는 item 정보를 획득하고 프로퍼티 접근법으로 출력한다. ( item.getId() ) -->
        <!-- value 속성을 th:value 속성으로 변경한다. -->
    </div>
    <div>
        <label for="itemName" th:text="#{label.item.itemName}">상품명</label>
        <input type="text" id="itemName" name="itemName" class="form-control"
               value="상품A" th:value="${item.itemName}" readonly>
    </div>
    <div>
        <label for="price" th:text="#{label.item.price}">가격</label>
        <input type="text" id="price" name="price" class="form-control"
               value="10000" th:value="${item.price}" readonly>
    </div>
    <div>
        <label for="quantity" th:text="#{label.item.quantity}">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control"
               value="10" th:value="${item.quantity}" readonly>
    </div>

    <hr class="my-4">

    <!-- single checkbox -->
    <div th:text="#{label.item.check}">판매 여부</div>
    <div>
        <div class="form-check">
            <input type="checkbox" id="open" th:field="${item.open}" class="form-check-input" disabled>
            <label for="open" th:text="#{item.check.open}" class="form-check-label">판매 오픈</label>
        </div>
    </div>

    <!-- multi checkbox -->
    <div>
        <div th:text="#{label.item.regions}">등록 지역</div>
        <div th:each="region : ${regions}" class="form-check form-check-inline">
            <input type="checkbox" th:field="${item.regions}" th:value="${region.key}" class="form-check-input" disabled>
            <label th:for="${#ids.prev('regions')}"
                   th:text="${region.value}" class="form-check-label">서울</label>
        </div>
    </div>

    <!-- radio button -->
    <div>
        <div th:text="#{label.item.itemType}">상품 종류</div>
        <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
            <!-- Enum.name() : enum의 이름 그대로를 반환한다. -->
            <input type="radio" th:field="${item.itemType}" th:value="${type.name()}"
                   class="form-check-input" disabled>
            <!-- Enum.description : Enum에 선언한 값 (도서, 음식, 기타)-->
            <label th:for="${#ids.prev('itemType')}" th:text="${type.description}"
                   class="form-check-label">
                BOOK
            </label>
        </div>
    </div>

    <!-- SELECT -->
    <div>
        <div th:text="#{label.item.deliveryCode}">배송 방식</div>
        <select th:field="${item.deliveryCode}" class="form-select" disabled>
            <option value="" th:text="#{item.deliveryCode}">==배송 방식 선택==</option>
            <!-- deliveryCode : FAST, NOMAL, SLOW -->
            <option th:each="deliveryCode : ${deliveryCodes}" th:value="${deliveryCode.code}"
                    th:text="${deliveryCode.displayName}">FAST</option>
        </select>
    </div>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/items/{itemId}/edit(itemId = ${item.id})}'|"
                    th:text="#{page.updateItem}"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/items}'|"
                    th:text="#{page.items}"
                    type="button">목록으로</button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>